<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">Language: </span>
    <%= link_to t(".english"), locale: "en"%>
    <%= link_to t(".vietnam"), locale: "vi"%>
  </div>
</footer>
